
.boardContainer{
   display:flex;
   justify-content:center;
   align-items:center;
}
.mainContainer{
   display: grid; 
   grid-template-columns: 3fr 1fr; 
   grid-template-rows: 1fr; 
   grid-template-areas: "board rules"; 
};
